.form__container > form {
  padding: 20px;
}

.form__input--wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form__input--wrapper > div {
  padding-bottom: 10px;
  display: flex;
}

.form__input--wrapper > div:last-child {
  padding-bottom: 0;
  padding-top: 5px;
  display: block;
}

.form__element__title {
  font-size: 18px;
  font-weight: bold;
  padding-right: 20px;
  margin: auto 0;
}

#name {
  padding: 5px;
  flex-grow: 1;
  font-size: 15px;
}

#story {
  font-size: 15px;
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 70px;
  padding: 5px;
}

.form__submit {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.form__submit > input {
  padding: 12px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border: 1px solid #7d7d7d;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.form__submit > input:hover {
  background-color: rgb(240, 240, 240);
}
